<ion-header>
  <ion-navbar color="primary">
    <ion-title>Select branch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="location one" (click)="updateBranch('0')">
    {{ "MAIN BRANCH" | translate }}
    <ion-icon
      class="check"
      *ngIf="branchKey == 0"
      name="checkmark-circle"
      color="white"
    ></ion-icon>
  </div>

  <div class="location two" (click)="updateBranch('1')">
    {{ "2ND BRANCH" | translate }}
    <ion-icon
      class="check"
      *ngIf="branchKey == 1"
      name="checkmark-circle"
      color="white"
    ></ion-icon>
  </div>
</ion-content>
