page-add-student {
  .item-md {
    padding-left: 0px !important;
  }

  .datetime-md {
    padding: 9px 0px !important;
  }

  .add-button {
    width: 100% !important;
    margin-top: 12px !important;
  }
}
